<div class="title">Danish</div>
<div class="connexionBox">
	<form>
		<input type="text" ng-model="playerName" value="" autofocus\><br>
		<input type="password" ng-model="password" value="" autofocus\><br>
		<input 	type="submit" 
				value="Connect" 
				ng-click="connect(playerName, password)" 
				ng-disabled="connectionStatus == 'connecting'">
		<input 	type="submit" 
				value="Create Account" 
				ng-click="createAccount(playerName, password)" 
				ng-disabled="connectionStatus == 'connecting'">
	</form>
</div>