<div class="title">Danish.JS</div>
<div class="connexionBox">
	<form>
		<input type="text" ng-model="playerName" value="" autofocus\><br>
		<input type="password" ng-model="password" value="" autofocus\><br>
		<input 	type="submit" 
				value="Connect" 
				ng-click="connect(playerName, password)" 
				ng-disabled="connectionStatus == 'connecting'">
	</form>
</div>
<div ng-controller="githubLog" class="ghLog">
	Latest changes : <br>
	<textarea scroll-glue disabled="disabled">{{ghlog}}</textarea>
</div>
<div class="footer">
	<p>Game created by Louis Geuten. Source available on <a href="https://github.com/Orygin/danishcards">github</a></p>
</div>